.mobile__button {
  position: relative;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__icon--menu {
  opacity: 1;
  transition: opacity 400ms ease;
}
.mobile__button.is-active .mobile__icon--menu {
  opacity: 0;
}

.mobile__icon--close {
  opacity: 0;
  transition: opacity 400ms ease;
}

.mobile__button.is-active .mobile__icon--close {
  opacity: 1;
}

.mobile__button.is-active .mobile__icon--close:hover,
.mobile__button.is-active .mobile__icon--close:focus {
  fill: var(--accent-color);
}

.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--main-bg-color);
  z-index: 5;

  opacity: 0;
  transform: translateX(100%);
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__menu.is-open {
  opacity: 1;
  transform: translateX(0);
}

.menu__list {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.menu__item {
  margin-bottom: 32px;
  font-weight: 500;

  font-size: 40px;
  line-height: 47px;

  letter-spacing: 0.02em;
  color: var(--main-text-color);

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.menu__link {
  color: currentColor;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &--current {
    color: var(--accent-color);
  }
}

.mobile__menu--group {
  margin-top: auto;
}

.contact__list {
  margin-bottom: 64px;
}

.contact__item:first-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;

  color: var(--accent-color);
}

.contact__item:last-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact__link {
  color: currentColor;
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-right: -10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.socials__item {
  margin-right: 10px;
  margin-top: 10px;
}

.socials__item:last-child .socials__link {
  padding: 0;
  border: 0;
}

.socials__link {
  display: block;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  color: currentColor;
}
