:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --accent-bg-color: #2f303a;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}
